<main class="main">
  <div class="content">
    <div class="left-side">            
      <p>Your app is running. 🎉</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <!-- @for (item of [
          { title: 'Explore the Docs', link: 'https://angular.dev' },
          { title: 'Persons Module', link: '/persons' },
        ]; track item.title) {
          <br>
          <a
            class="pill"
            [href]="item.link"            
            target="_blank"
            rel="noopener"
          >
            <span>{{ item.title }}</span>            
          </a>
        } -->
        <nav>
          <a class="button" routerLink="persons" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Persons</a>
        </nav>
      </div>
      <div class="social-links">        
      </div>
    </div>
  </div>
</main>
<router-outlet />
