<div class="container mt-5" *ngIf="!vm">
    <div class="alert alert-danger" role="alert">
        Pessoa não existe!
    </div>
</div>

<div class="container mt-5" *ngIf="vm">
    <h2 class="mb-4">Edite a Pessoa</h2>

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="vm.nome">
    </div>

    <div class="mb-3">
        <label for="sexo" class="form-label">Sexo</label>
        <select class="form-select" id="sexo"  [(ngModel)]="vm.sexo" name="sexo">
            <option *ngFor="let op of sexos" [ngValue]="op.value" >{{ op.name }}</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="dataNascimento" class="form-label">Data de Nascimento</label>
        <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" [(ngModel)]="formattedDate" (ngModelChange)="dateUpdate($event)" >
    </div>

    <div class="mb-3">
        <label for="estadoCivil" class="form-label">Estado Civil</label>
        <select class="form-select" id="estadoCivil" [(ngModel)]="vm.estadoCivil" name="estadoCivil">
            <option *ngFor="let op of estadosCivis" [ngValue]="op.value" >{{ op.name }}(a)</option>            
        </select>
    </div>

    <div>
        <h2 class="mb-3">Edite os Endereços</h2>
        <div *ngFor="let endereco of vm.enderecos; let i = index" class="border p-3 mb-3">
            <h3>Endereço {{ i + 1 }}</h3>
            <div class="mb-3">
                <label for="cep" class="form-label">CEP</label>
                <input type="text" class="form-control" id="cep" [(ngModel)]="vm.enderecos[i].cep">
            </div>
            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="endereco" [(ngModel)]="vm.enderecos[i].endereco">
            </div>
            <div class="mb-3">
                <label for="numero" class="form-label">Número</label>
                <input type="text" class="form-control" id="numero" [(ngModel)]="vm.enderecos[i].numero">
            </div>
            <div class="mb-3">
                <label for="complemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" [(ngModel)]="vm.enderecos[i].complemento">
            </div>
            <div class="mb-3">
                <label for="bairro" class="form-label">Bairro</label>
                <input type="text" class="form-control" id="bairro" [(ngModel)]="vm.enderecos[i].bairro">
            </div>
            <div class="mb-3">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="cidade" [(ngModel)]="vm.enderecos[i].cidade">
            </div>
            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <input type="text" class="form-control" id="estado" [(ngModel)]="vm.enderecos[i].estado">
            </div>
        </div>
    </div>

    <button class="btn btn-primary" (click)="saveChanges()">Salvar Alterações</button>
</div>
